/* Base workout option styles */
.workout-option {
    transition: all 0.5s ease;
    position: relative;
    width: 300px; /* Fixed width for all screens */
    height: 500px; /* Fixed height for large screens */
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

/* Apply hover effect when the .hover-scale class is present */
.hover-scale:hover {
    transform: scale(1.05);
}

.workout-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workout-option h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

/* Hidden class to remove other workout options */
.hidden {
    display: none;
}

/* Center the entire workout and difficulty container */
.workout-difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.difficulty-option {
    background-color: #f8f8f8;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Apply hover effect when the .hover-scale class is present */
.difficulty-option.hover-scale:hover {
    transform: scale(1.05);
}

/* Layout for small screens */
@media (max-width: 767px) {
    .workout-option {
        width: 100%;
        height: 150px;
        margin: 10px 0;
    }

    .workout-difficulty-container {
        flex-direction: column;
    }

    .difficulty-option {
        width: 100%;
        height: 50px;
    }
}
